<ion-view view-title="Sign-In" id="login-body">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="spacer" style="width: 300px; height: 92px;"></div>
        </div>
        <form class="list">
            <label class="item item-input">
			   <span class="icon ion-person"></span>
				<input type="text" placeholder="What is your name?" ng-model="name">
			  </label>
        </form>
        <button class="button button-positive button-block" ng-click="register_basic_name(name)">Tap me!</button>
    </ion-content>
</ion-view>