<ion-view view-title="Sign-In" id="login-body">
    <div class="container">
        <div id="login">
            <form action="javascript:void(0);" method="get">
                <a class="button" ng-click="showActionsheet()" style="padding:0px; margin: 0px 65px 0px 66px">
					<img id="myImage" ng-src="img\avatar.png" style="max-height: 100%;" />
				 </a>
                <input type="submit" value="Upload Avatar" ng-click="register_basic(fullname)"></p>
            </form>
            <p>No avatar to upload. <a href="#/tab/main">Finish</a><span class="fontawesome-arrow-right"></span></p>
        </div>
    </div>
</ion-view>